{% extends 'base.html' %}

{% block page_title %}{{ group_data.group_name }}{% endblock %}

{% block content %}

<div class="page-container group-home">
    <section class="header">
        <div class="container group-box">
            <div class="container group-details-container">
                <h2>{{ group_data.group_name }}</h2>
                <p>Creator - {{ group_data.creator }}</p>
                <p>Next match -
                {% if "2" in group_data.next_match.all|lower %}
                    {% for entry in group_data.next_match %} 
                        <span>{{ entry.date_of_match }}</span>
                    {% endfor %}
                {% else %}
                    <span>TBC</span>
                {% endif %}
                </p>
            </div>
            <div class="container members-details-container">
                <div class="flex">
                    <div class="container">
                        <p>Members</p>
                        <p>{{ group_data.users.all|length }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container group-id uppercase">
            <p>Group ID = {{ group_data.pk }}</p> 
        </div>
    </section>
    <section class="content">
        <div class="matches-box">
            <div class="row">
                <h3>Recent / Upcoming Matches</h3>
                <a href="{% url 'matches' group_data.pk 0 %}" class="link-btn add-a-match-btn click-shrink"><i class="fas fa-plus-square"></i></a> 
            </div> 
            
            {% if matches %}
                <div class="row matches-row">
                {% for match in matches %}
                
                    <a class="match-link click-color-change" href="{% url 'matches' group_data.pk match.pk %}">
                        <div class="match-box">
                            <div class="container">
                                <p>Match ID: <span>{{ match.id }}</span></p> 
                                <p>Status:
                                    {% if match.match_status == "S" %} 
                                        <span class="scheduled">ON</span>
                                    {% else %}
                                        <span class="cancelled">CANCELLED</span>
                                    {% endif %}
                                </p> 
                                <p>Date: <span>{{ match.date_of_match|date:'d-m-Y' }}</span></p> 
                                <p>Kick off: <span>{{ match.time_of_match|time:"H:i" }}</span></p> 
                            </div>
                        </div>
                    </a>
                {% endfor %}
                </div>
            {% else %}
                <p class="no-matches">There are currently no matches scheduled</p> 
            {% endif %}
        </div>
        
        <div class="member-box">
            <div class="row">
                <h2>Group members</h2>
            </div>
            <div class="container member-container">
                {% for user in group_data.users.all %}
                <div class="user-container">
                    <a class="shirt click-shrink" href="{% url 'player-profile' user.pk group_data.pk %}">
                        <span class="container">
                            {% if user.nickname %}
                                <p id="curve-{{ user.pk }}" class="member-content username">{{ user.nickname|truncatechars:9 }}</p>
                            {% else %}
                                <p id="curve-{{ user.pk }}" class="member-content username">{{ user.username|truncatechars:9 }}</p>
                            {% endif %}
                        </span>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</div>


{% endblock %}