{% extends 'base.html' %}

{% block page_title %}{{ group_data.group_name }}{% endblock %}

{% block content %}

<div class="page-container group-home">
    <section class="header">
        <div class="container group-box">
            <div class="container group-details-container">
                <h2>{{ group_data.group_name }}</h2>
                <p>Creator - {{ group_data.creator }}</p>
                <p>Next match - TBC</p>
            </div>
            <div class="container members-details-container">
                <div class="flex">
                    <div class="container">
                        <p>Members</p>
                        <p>{{ group_data.users.all|length }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container group-id uppercase">
            <p>Group ID = {{ group_data.pk }}</p> 
        </div>
    </section>
    <section class="content">
        <div class="member-box">
            <h2>Group members</h2>
            
                <div class="container member-container">
                    <div class="row">
                        <h3 class="member-head">Nickname</h3>
                        <h3 class="member-head">Member</h3>
                    </div> 
                    {% for user in group_data.users.all %}
                        <div class="row">
                            <a class="shirt click-shrink" href="{% url 'player-profile' user.pk group_data.pk %}">
                                <span class="container">
                                    <p id="curve-{{ user.pk }}" class="member-content username">
                                        {% if user.nickname %}
                                            {{ user.nickname }}
                                        {% else %}?????{% endif %}
                                    </p>
                                </span> 
                            </a>
                            <p class="member-content">{{ user.username }}</p>
                        </div>
                    {% endfor %}
                </div>
            
        </div>
        <div class="matches-box">
            <a href="{% url 'matches' group_data.pk 0 %}" class="link-btn add-a-match-btn click-shrink"><i class="fas fa-plus-square"></i></a> 
            <h3>Matches</h3>
            {% if matches %}
                {% for match in matches %}
                    <a class="match-link" href="{% url 'matches' group_data.pk match.pk %}">
                        <div class="match-box">
                            <p>Match ID: {{ match.id }}</p> 
                            <p>Venue:<br>{{ match.venue|truncatechars:16 }}</p> 
                            <p>Status: 
                                {% if match.match_status == "S" %} 
                                ON 
                                {% else %}
                                CANCELLED
                                {% endif %}</p> 
                            <p>Date: {{ match.date_of_match|date:'d-m-Y' }}</p> 
                            <p>Kick off: {{ match.time_of_match|time:"H:i" }}</p> 
                        </div>
                    </a>
                {% endfor %}
            {% else %}
                <p>There are currently no matches scheduled</p> 
            {% endif %}
        </div>
    </section>
</div>


{% endblock %}