{% extends 'base.html' %}

{% block page_title %}{{ user }}'s groups{% endblock %}

{% block content %}
<div class="page-container group-page">
    
    {% if reg_error == "yes-on-create" %}
    <form class="create-group-form" method="POST" action="{% url 'create-group' %}" autocomplete="off">
    {% else %}
    <form class="create-group-form start-hidden" method="POST" action="{% url 'create-group' %}" autocomplete="off">
    {% endif %}
        <div class="close-parent-btn">x</div>
        {% csrf_token %}
        {{ create_group_form.as_p }}
        {{ form.non_field_errors }}
        <button class="new-group-btn make-pointer click-shrink hover-effect-gold" type="submit">Create</button>
    </form>
    
    {% if reg_error == "yes" %}
        <form class="join-group-form" method="POST" action="{% url 'join-group' %}" autocomplete="off">
    {% else %}
        <form class="join-group-form start-hidden" method="POST" action="{% url 'join-group' %}" autocomplete="off">
    {% endif %}
        <div class="close-parent-btn">x</div>
        {% csrf_token %}
        {{ join_group_form.as_p }}
        {{ form.non_field_errors }}
        <button class="join-group-btn make-pointer click-shrink hover-effect-gold" type="submit">Join</button>
    </form>
    
    <section class="create-join-group-area">
        <h1 class="uppercase">Your Groups</h1> 
        <div class="container">
            <div class="create-group-box">
                <p>Create a new group</p>
                <i class="fas fa-plus-square show-create-new-group-form make-pointer hover-effect-yellow-i"></i>
            </div>
            <div class="join-group-box">
                <p>Join an existing group</p>
                <i class="far fa-plus-square make-pointer show-join-group-form hover-effect-yellow-i"></i>
            </div>
        </div>
    </section>
    <section class="group-select-area">
        {% if not my_groups %}
            <p>You are currently without a group</p> 
        {% else %}
            {% for group in my_groups %}
            <a href="{% url 'group-home' group.pk %}">
                <div class="container sm-click-shrink group-box inset-shadow hover-effect-gold">
                    <div class="container group-details-container">
                        <h2>{{ group.group_name }}</h2>
                        <div class="container">
                            <p>Creator - {{ group.creator }}</p>
                            <p>Next match -
                                {% if group.next_match.all|lower != "<QuerySet []>"|lower %}
                                    {% for entry in group.next_match %} 
                                        {{ entry.date_of_match }}
                                    {% endfor %}
                                {% else %}
                                TBC
                                {% endif %}
                                
                            </p>
                        </div> 
                    </div>
                    <div class="container members-details-container">
                        <div class="flex">
                            <div class="container">
                                <p>Members</p>
                                <p>{{ group.users.all|length }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a> 
            {% endfor %}
        {% endif %}
    </section>
</div>


{% endblock %}