// Brand Colours ---------------------------------------------------------------

$brand-sunflower-yellow: #FFCE00;
$brand-starry-night-blue: #0375B4;
$brand-irises-green: #007849;
$brand-evening-black: #262228;

$brand-evening-black-offset: #826900;

// Other colours ---------------------------------------------------------------

$messages-box: rgba(72, 14, 14, 0.78);

$shirt-red: #ed1c24;

$alt-grass-green: #028853;
$white: #fff;
$black: #000;
$form-input-grey: #ececec;
$preference-green: #23e623;
$error-red: #fd3636;
$can-play-amber: orange;
$unconfirmed-grey: #dadada;

$row-seperator-grey: rgba(150, 150, 150, 0.1);

// Hover offsets ---------------------------------------------------------------

$hover-green: #42ff00;
$hover-amber: #ffe800;
$hover-red: #ff0000;
$hover-blue: #00a4ff;