%centralise-inner-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

%cover-image-align-bottom {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

%inset-shadow {
    -webkit-box-shadow: inset -7px -7px 13px -6px rgba(0,0,0,0.43);
    -moz-box-shadow: inset -7px -7px 13px -6px rgba(0,0,0,0.43);
    box-shadow: inset -7px -7px 13px -6px rgba(0,0,0,0.43);
}

%contain-picture {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}