/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.user-playing-positions-section .half-pitch .row, .group-box .members-details-container .flex, .group-home .content .matches-box .match-link .match-box, .index-page-bg-settings, .flex-center-content {
  display: flex;
  justify-content: center;
  align-items: center; }

.opening-section-bg, .get-organised-bg, .be-the-best-bg {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover; }

.add-a-match-btn, .user-info-section .first_name,
.user-info-section .surname,
.user-info-section .nickname,
.user-info-section .date_of_birth, .inset-shadow {
  -webkit-box-shadow: inset -7px -7px 13px -6px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: inset -7px -7px 13px -6px rgba(0, 0, 0, 0.43);
  box-shadow: inset -7px -7px 13px -6px rgba(0, 0, 0, 0.43); }

.group-home .content .matches-box .match-link:nth-of-type(even) {
  -webkit-box-shadow: inset -5px -5px 38px -12px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: inset -5px -5px 38px -12px rgba(0, 0, 0, 0.63);
  box-shadow: inset -5px -5px 38px -12px rgba(0, 0, 0, 0.63); }

nav .logo-pic, .group-home .content .member-box .member-container .shirt, .shirt, .team-gen-pg .user-playing-positions-section .pitch-row .team-1-player,
.team-gen-pg .user-playing-positions-section .pitch-row .team-2-player {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

/* --- Widths */
button,
.link-btn {
  width: 80px;
  height: 30px;
  border: #fff 1px solid;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Staatliches', cursive;
  outline: none;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  letter-spacing: 1px; }

.link-btn {
  text-align: center;
  line-height: 32px;
  display: block;
  background-color: #262228; }

.get-started-btn {
  background-color: #FFCE00;
  display: block;
  line-height: 32px;
  margin: 0 auto 22px;
  cursor: pointer;
  border: 5px solid #262228; }

.open-sign-in-btn,
.sign-in-btn {
  background-color: #0375B4;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 20px; }

.open-sign-up-btn,
.sign-up-btn {
  background-color: #007849; }

.sign-up-btn {
  margin: 20px 0 0; }

.close-parent-btn,
.remove-parent-btn {
  border: none;
  width: 20px;
  height: 20px;
  color: #000;
  position: absolute;
  right: 3px;
  top: 0;
  background-color: unset;
  margin: 2px;
  cursor: pointer; }

.messages-box .close-parent-btn {
  color: #fff; }

.update-form-btn,
.new-group-btn,
.join-group-btn,
.update-player-attributes-btn,
.create-edit-match-btn {
  background-color: #0375B4;
  display: block; }

.group-rtn-btn {
  position: absolute;
  top: 20px;
  right: 32px;
  width: 46px;
  margin: 0; }

.update-player-attributes-btn {
  margin: 0 auto;
  background-color: #007849; }

.add-a-match-btn {
  display: inline-block;
  font-size: 8px;
  width: 20px;
  text-align: center;
  height: 20px;
  line-height: 20px;
  background-color: #FFCE00;
  border-radius: 2px;
  border: none; }
  .add-a-match-btn i {
    font-size: 18px;
    margin-top: 0.2px; }

.edit-match-btn,
.team-gen-link-btn,
.rate-performance-link-btn {
  width: 86px;
  height: 17px;
  line-height: 16px;
  font-size: 8px;
  margin-bottom: 0;
  display: inline-block; }

.rate-performance-link-btn {
  float: right;
  background-color: #fd3636; }

#pick-teams-btn {
  background-color: #262228; }

#regen-btn,
#back-to-settings-btn {
  display: inline-block;
  font-size: 8px;
  width: 48px;
  height: 14px;
  background-color: black;
  margin: 0 2px 0; }

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 16px; }

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0; }

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .slider {
  background-color: #23e623; }

input:checked + .exclude {
  background-color: #fd3636; }

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px); }

/* Rounded sliders */
.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

.start-off-screen {
  right: -100%; }

.slide-in-from-right {
  right: 0; }

.click-shrink:active {
  transform: scale(0.9); }

.sm-click-shrink:active {
  transform: scale(0.96); }

.click-color-change:active {
  background-color: #23e623 !important; }

nav {
  background-color: #FFCE00; }
  nav .logo {
    max-width: 29%; }
  nav .logo-pic {
    background-image: url("../img/my-team-logo.png");
    width: 66px;
    height: 27px;
    display: inline-block; }
  nav ul {
    max-width: 70%; }
  nav .logo,
  nav ul,
  nav li {
    display: inline-block;
    box-sizing: border-box; }
  nav .logo {
    padding: 0 20px; }
  nav ul {
    float: right;
    padding: 0 10px; }
    nav ul li {
      padding: 0 4px;
      font-size: 11px; }
      nav ul li a {
        font-weight: 600; }
  nav .nav-i {
    margin-right: 8px; }

.nav-content-container {
  min-height: 62px;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between; }

footer {
  background-color: #262228;
  color: #fff;
  height: 56px; }
  footer .container {
    display: inline-block;
    width: 49.5%;
    box-sizing: border-box; }

.messages-container {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 140px; }

.messages-box {
  position: absolute;
  left: 0;
  margin-left: auto;
  width: 70%;
  min-width: 200px;
  max-width: 400px;
  min-height: 32px;
  text-align: center;
  top: 40px;
  color: #fff;
  background-color: #262228;
  padding: 5px;
  z-index: 100;
  transition-property: right;
  transition-duration: 2s; }
  .messages-box .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center; }
    .messages-box .container p {
      text-align: left;
      margin-right: 16px; }

.opening-section,
.get-organised,
.be-the-best {
  min-height: 386px; }
  .opening-section p,
  .get-organised p,
  .be-the-best p {
    padding: 28px 28px 0;
    line-height: 19px; }
  .opening-section p:nth-of-type(2),
  .get-organised p:nth-of-type(2),
  .be-the-best p:nth-of-type(2) {
    padding-bottom: 28px; }

.opening-section {
  background-color: #007849;
  color: #fff; }

.get-organised {
  background-color: #0375B4;
  color: #fff; }

.be-the-best {
  color: #007849; }

.sign-in-section,
.sign-up-section {
  position: relative;
  height: 45vh;
  box-sizing: border-box;
  text-align: center;
  color: #fff; }
  .sign-in-section p,
  .sign-up-section p {
    padding: 22px 10px 0;
    line-height: 14px; }

.sign-in-section {
  background-color: #007849;
  padding: 30px 20px 20px; }

.sign-up-section {
  background-color: #0375B4;
  padding: 20px 20px 30px; }
  .sign-up-section .container {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 20px; }

.login-form,
.sign-up-form {
  background-color: #fff;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 20px;
  box-sizing: border-box;
  min-height: 66%; }
  .login-form h3,
  .sign-up-form h3 {
    margin-bottom: 10px; }
  .login-form h3 ~ p,
  .sign-up-form h3 ~ p {
    margin-bottom: 24px; }
  .login-form label,
  .login-form input,
  .sign-up-form label,
  .sign-up-form input {
    display: inline-block;
    width: 90%;
    margin: 0 auto 8px;
    text-align: left; }

.login-form h3 ~ p {
  margin-bottom: 60px; }
.login-form p a {
  color: #fd3636; }

#update-form {
  position: absolute;
  height: 200px;
  z-index: 5;
  top: 155px;
  padding: 30px;
  background-color: white;
  width: 100%;
  box-sizing: border-box; }
  #update-form label,
  #update-form input {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px; }

.profile-page .first_name,
.profile-page .surname,
.profile-page .nickname,
.profile-page .date_of_birth,
.profile-page .attack,
.profile-page .midfield,
.profile-page .defense,
.profile-page .goalkeeper {
  cursor: pointer; }
.profile-page section {
  padding: 32px; }
.profile-page h4 {
  margin-bottom: 35px; }
.profile-page dt,
.profile-page dd {
  display: inline-block;
  margin: 3px 0;
  padding: 6px 0;
  font-size: 9px; }

.user-info-section {
  color: #007849; }
  .user-info-section .header {
    margin-bottom: 20px; }
  .user-info-section h1 {
    margin: 0;
    max-width: 200px;
    font-size: 2.2em; }
  .user-info-section h1 ~ p {
    display: inline-block;
    font-size: 6px; }
  .user-info-section .container {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center; }
    .user-info-section .container dt {
      width: 40%;
      background-color: #007849;
      color: #fff; }
    .user-info-section .container dd {
      width: 60%;
      background-color: #ececec;
      color: #0375B4; }
  .user-info-section .license-expiry > dt,
  .user-info-section .license-expiry > dd {
    background-color: #0375B4 !important;
    color: #fff !important; }

.user-playing-positions-section {
  position: relative;
  padding: 32px;
  background-color: #007849;
  color: #fff; }
  .user-playing-positions-section .preferred-box {
    background-color: #23e623 !important; }
  .user-playing-positions-section .can-play-box {
    background-color: orange !important; }
  .user-playing-positions-section .cant-play-box {
    background-color: red !important; }
  .user-playing-positions-section .key-box {
    position: absolute;
    right: 32px;
    width: 18%;
    top: 32px; }
    .user-playing-positions-section .key-box .preferred-box,
    .user-playing-positions-section .key-box .can-play-box,
    .user-playing-positions-section .key-box .cant-play-box {
      display: inline-block;
      height: 10px;
      width: 10px; }
    .user-playing-positions-section .key-box label {
      font-size: 8px; }
  .user-playing-positions-section .half-pitch {
    border: 1px solid #fff; }
    .user-playing-positions-section .half-pitch .row {
      height: 55px; }
      .user-playing-positions-section .half-pitch .row div {
        display: block;
        position: relative;
        text-align: center;
        white-space: nowrap;
        height: 20px;
        width: 28px;
        border-radius: 50%;
        border: 2px solid #fff;
        background-color: #fd3636;
        padding-top: 7px; }
        .user-playing-positions-section .half-pitch .row div span {
          text-align: center;
          margin-left: -100%;
          margin-right: -100%;
          font-weight: 600;
          color: #fff;
          letter-spacing: 1px; }

.user-attributes-section h4 {
  color: #0375B4; }
.user-attributes-section .container {
  margin-bottom: 22px; }
.user-attributes-section .chart-container,
.user-attributes-section .btn-container,
.user-attributes-section .attr-container {
  margin-bottom: 0px; }
.user-attributes-section .row {
  width: 100%; }
.user-attributes-section dt,
.user-attributes-section label {
  width: 36%;
  background-color: #0375B4;
  color: #fff; }
.user-attributes-section dd,
.user-attributes-section input {
  width: 13%;
  background-color: #ececec;
  color: #000; }
.user-attributes-section #rate-player-form p {
  display: inline-block;
  font-size: 8px;
  width: 9%;
  font-weight: 600; }

.user-form-section {
  background-color: #0375B4; }
  .user-form-section h4 {
    color: #fff; }
  .user-form-section dt {
    width: 50%;
    background-color: #0375B4;
    color: #fff;
    text-align: left; }
  .user-form-section dd {
    width: 50%;
    background-color: #ececec;
    color: #007849;
    text-align: center; }
  .user-form-section dd:last-of-type,
  .user-form-section dt:last-of-type {
    font-weight: 600;
    margin-top: 22px; }

.group-page {
  background-color: #007849; }
  .group-page h1 {
    color: #fff;
    margin-bottom: 10px; }
  .group-page section {
    padding: 32px; }
  .group-page .create-join-group-area {
    padding-bottom: 16px; }
    .group-page .create-join-group-area .container {
      text-align: unset;
      color: #fff; }
    .group-page .create-join-group-area .create-group-box,
    .group-page .create-join-group-area .join-group-box {
      border: 1px #fff solid;
      text-align: left;
      display: inline-block;
      width: 90%;
      margin: 5px 0;
      padding: 6px 0 6px 6px;
      box-sizing: border-box; }
    .group-page .create-join-group-area i {
      margin: 0;
      padding: 0;
      font-size: 30px;
      position: relative;
      top: 7px;
      margin-left: -6px; }
  .group-page .group-select-area {
    color: #fff;
    padding-top: 16px; }
  .group-page .create-group-form,
  .group-page .join-group-form {
    position: absolute;
    min-height: 232px;
    z-index: 5;
    top: 78px;
    padding: 30px;
    background-color: white;
    width: 100%;
    box-sizing: border-box; }
    .group-page .create-group-form .close-parent-btn,
    .group-page .join-group-form .close-parent-btn {
      top: 10px; }
    .group-page .create-group-form label,
    .group-page .create-group-form input,
    .group-page .join-group-form label,
    .group-page .join-group-form input {
      display: inline-block;
      width: 100%;
      margin-bottom: 5px; }

.group-box {
  background-color: #FFCE00;
  border-radius: 6px;
  margin-bottom: 16px;
  padding: 16px;
  font-family: 'Staatliches', cursive;
  max-width: 320px;
  min-height: 113px;
  box-sizing: border-box; }
  .group-box .group-details-container {
    display: inline-block;
    text-align: left;
    margin-right: 10px;
    min-width: 60%;
    max-width: 146px; }
    .group-box .group-details-container h2 {
      margin-bottom: 5px;
      min-height: 33px;
      color: #007849; }
    .group-box .group-details-container p {
      font-size: 14px; }
  .group-box .members-details-container {
    width: 64px;
    height: 64px;
    display: inline-block;
    text-align: center;
    border: 1px solid #fff;
    float: right; }
    .group-box .members-details-container p:last-of-type {
      font-size: 2em; }
    .group-box .members-details-container .flex {
      height: 100%;
      width: 100%; }

.group-home header,
.group-home .group-box {
  width: 100%;
  max-width: unset;
  background-color: #262228;
  color: #fff;
  padding: 28px 28px 16px;
  box-sizing: border-box;
  margin-bottom: 0;
  border-radius: 0; }
  .group-home header h2,
  .group-home .group-box h2 {
    color: #fff; }
.group-home .group-id {
  background-color: #826900;
  padding: 6px;
  font-size: 8px;
  color: #fff;
  position: relative; }
.group-home .content {
  box-sizing: border-box; }
  .group-home .content .member-box,
  .group-home .content .matches-box {
    box-sizing: border-box;
    min-height: 80px;
    box-sizing: border-box; }
  .group-home .content .member-box {
    color: #fff;
    width: 100%;
    background-color: #007849;
    padding-bottom: 20px;
    min-height: 55vh; }
    .group-home .content .member-box .row {
      box-sizing: border-box;
      padding: 20px; }
    .group-home .content .member-box .member-container {
      text-align: center;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap; }
      .group-home .content .member-box .member-container .user-container {
        display: inline-block;
        width: 24%; }
      .group-home .content .member-box .member-container .shirt {
        display: inline-block;
        height: 46px;
        width: 100%;
        margin: 8px 0;
        background-image: url("../img/transparent-shirt.png"); }
        .group-home .content .member-box .member-container .shirt .container {
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center; }
          .group-home .content .member-box .member-container .shirt .container .username {
            font-family: 'Staatliches', cursive;
            width: 100%;
            padding: 0; }
    .group-home .content .member-box h3 {
      font-size: 1em; }
    .group-home .content .member-box p,
    .group-home .content .member-box h3 {
      width: 45%;
      display: inline-block;
      margin: 2px 0;
      box-sizing: border-box; }
    .group-home .content .member-box .member-content {
      font-size: 0.8em;
      padding: 0 0 6px 0; }
  .group-home .content .matches-box {
    width: 100%;
    color: #FFCE00;
    background-color: #262228;
    text-align: left;
    position: relative; }
    .group-home .content .matches-box .container p {
      margin: 2px 0; }
    .group-home .content .matches-box h3 {
      padding: 6px 0;
      text-align: left;
      display: inline-block;
      width: 91%; }
    .group-home .content .matches-box .row:first-of-type {
      padding: 2px 20px;
      box-sizing: border-box;
      justify-content: center; }
    .group-home .content .matches-box .no-matches {
      padding: 20px; }
    .group-home .content .matches-box .matches-row {
      background-color: #262228;
      justify-content: space-evenly;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: start; }
    .group-home .content .matches-box .match-link:nth-of-type(even) {
      background-color: #826900;
      width: 36%;
      max-width: 150px; }
    .group-home .content .matches-box .match-link {
      position: relative;
      left: 4.5%;
      text-align: center;
      background-color: #262228;
      display: inline-block;
      padding: 4px;
      font-size: 8px;
      width: 30%;
      max-width: 100px;
      height: 56px;
      -webkit-transform-origin: 100% 0;
      -ms-transform-origin: 100% 0;
      transform-origin: 100% 0;
      -webkit-transform: skew(-24deg);
      -ms-transform: skew(-24deg);
      transform: skew(-24deg); }
      .group-home .content .matches-box .match-link .match-box {
        width: 100%;
        height: 100%; }
        .group-home .content .matches-box .match-link .match-box p {
          -webkit-transform: skew(24deg);
          -ms-transform: skew(24deg);
          transform: skew(24deg);
          text-align: left;
          width: 66px;
          font-family: 'Staatliches', cursive;
          font-size: 9px;
          letter-spacing: 0.2px; }
        .group-home .content .matches-box .match-link .match-box span {
          float: right; }

.user-attributes-section label,
.user-attributes-section input {
  display: inline-block;
  margin: 3px 0;
  padding: 6px 0;
  font-size: 9px; }
.user-attributes-section input {
  width: 9%;
  text-align: center; }

.matches-page {
  background-color: #007849; }
  .matches-page .header {
    padding: 28px 28px 0;
    color: #fff; }
  .matches-page .match-data {
    padding: 10px 28px;
    color: #fff; }
    .matches-page .match-data .overview-container {
      text-align: left;
      font-size: 10px; }
      .matches-page .match-data .overview-container span {
        margin-left: 6px;
        font-weight: 500; }
      .matches-page .match-data .overview-container p {
        display: inline-block;
        margin: 2px 8px 2px 0;
        font-weight: 600; }
    .matches-page .match-data form {
      max-width: 300px;
      position: relative;
      font-size: 10px; }
      .matches-page .match-data form .close-parent-btn {
        text-align: right;
        color: #fff;
        top: -28px;
        right: 0; }
      .matches-page .match-data form textarea {
        width: 100%;
        height: 60px;
        box-sizing: border-box;
        margin-top: 10px;
        font-family: 'Montserrat', sans-serif;
        font-size: 10px; }
      .matches-page .match-data form input,
      .matches-page .match-data form select {
        font-size: 10px; }
      .matches-page .match-data form select {
        float: right;
        font-family: 'Montserrat', sans-serif;
        color: #262228;
        background-color: #FFCE00;
        font-weight: 600; }
      .matches-page .match-data form .row,
      .matches-page .match-data form p {
        justify-content: space-between;
        margin: 10px 0; }
      .matches-page .match-data form option:first-of-type {
        background-color: #23e623; }
      .matches-page .match-data form option {
        background-color: #fd3636; }
  .matches-page .player-availability {
    background-color: #fff;
    color: #007849;
    padding: 28px;
    min-height: 55vh; }
  .matches-page .member-container {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px; }
    .matches-page .member-container .user-container {
      display: inline-block;
      width: 24%; }
    .matches-page .member-container .row {
      display: flex;
      justify-content: space-around;
      align-items: center; }
    .matches-page .member-container .availability-container {
      width: 100px; }
      .matches-page .member-container .availability-container .i-have-confirmed,
      .matches-page .member-container .availability-container .i-am-unavailable,
      .matches-page .member-container .availability-container .i-am-unconfirmed,
      .matches-page .member-container .availability-container .confirmed,
      .matches-page .member-container .availability-container .unavailable,
      .matches-page .member-container .availability-container .unconfirmed {
        padding: 10px;
        border-radius: 32px;
        font-weight: 600; }
      .matches-page .member-container .availability-container .i-have-confirmed,
      .matches-page .member-container .availability-container .confirmed {
        background-color: #23e623; }
      .matches-page .member-container .availability-container .i-am-unavailable,
      .matches-page .member-container .availability-container .unavailable {
        background-color: #fd3636;
        color: #fff; }
      .matches-page .member-container .availability-container .i-am-unconfirmed,
      .matches-page .member-container .availability-container .unconfirmed {
        background-color: #dadada;
        color: #262228; }
      .matches-page .member-container .availability-container .i-have-confirmed,
      .matches-page .member-container .availability-container .i-am-unavailable,
      .matches-page .member-container .availability-container .i-am-unconfirmed {
        cursor: pointer;
        transition: all 1s ease; }
  .matches-page .team-generation {
    padding: 10px 28px;
    background-color: #826900; }
    .matches-page .team-generation a {
      margin: 0; }

.shirt {
  display: inline-block;
  height: 46px;
  width: 100%;
  margin: 8px 0;
  background-image: url("../img/transparent-shirt.png"); }
  .shirt .container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center; }
    .shirt .container .username {
      font-family: 'Staatliches', cursive;
      width: 100%;
      padding: 0; }
      .shirt .container .username div {
        margin-top: 5px; }

.overflow-container {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  overflow: hidden; }

.team-gen-pg .team-gen-settings-pg {
  min-height: 85vh;
  box-sizing: border-box;
  padding: 20px; }
  .team-gen-pg .team-gen-settings-pg .options-header {
    text-align: left;
    margin: 18px 0 10px;
    display: flex;
    align-items: center; }
    .team-gen-pg .team-gen-settings-pg .options-header p {
      font-family: 'Staatliches', cursive;
      font-size: 8px;
      width: 30px;
      margin: 0 3px; }
    .team-gen-pg .team-gen-settings-pg .options-header p:first-of-type {
      text-align: center; }
  .team-gen-pg .team-gen-settings-pg input {
    width: 56px;
    border: unset; }
  .team-gen-pg .team-gen-settings-pg h3,
  .team-gen-pg .team-gen-settings-pg p {
    display: inline-block;
    text-align: left; }
  .team-gen-pg .team-gen-settings-pg h3,
  .team-gen-pg .team-gen-settings-pg .user-name-and-stats-container {
    width: 86px; }
  .team-gen-pg .team-gen-settings-pg .row {
    display: flex;
    align-items: center; }
  .team-gen-pg .team-gen-settings-pg input:focus {
    outline: none; }
  .team-gen-pg .team-gen-settings-pg .player-container {
    text-align: left; }
    .team-gen-pg .team-gen-settings-pg .player-container label {
      font-size: 8px; }
    .team-gen-pg .team-gen-settings-pg .player-container .user-name-and-stats-container {
      text-align: left;
      position: relative; }
      .team-gen-pg .team-gen-settings-pg .player-container .user-name-and-stats-container .hidden {
        display: none; }
      .team-gen-pg .team-gen-settings-pg .player-container .user-name-and-stats-container input {
        display: inline-block; }
      .team-gen-pg .team-gen-settings-pg .player-container .user-name-and-stats-container .attr-container {
        display: inline-block;
        position: absolute; }
        .team-gen-pg .team-gen-settings-pg .player-container .user-name-and-stats-container .attr-container input {
          color: #fff;
          padding: 5px;
          background-color: #0375B4;
          font-size: 8px;
          text-align: center;
          font-weight: 600;
          display: block;
          width: 20px; }
        .team-gen-pg .team-gen-settings-pg .player-container .user-name-and-stats-container .attr-container .hidden {
          display: none; }
        .team-gen-pg .team-gen-settings-pg .player-container .user-name-and-stats-container .attr-container input:first-of-type {
          background-color: #007849; }
    .team-gen-pg .team-gen-settings-pg .player-container .position-pref-container {
      width: 10%;
      display: inline-block;
      text-align: center; }
      .team-gen-pg .team-gen-settings-pg .player-container .position-pref-container label,
      .team-gen-pg .team-gen-settings-pg .player-container .position-pref-container input {
        width: 6px;
        display: block;
        margin: 0 2px 4px 0; }
  .team-gen-pg .team-gen-settings-pg .avail-container {
    width: 42px; }
    .team-gen-pg .team-gen-settings-pg .avail-container i {
      font-size: 16px; }
    .team-gen-pg .team-gen-settings-pg .avail-container .fa-check-circle {
      color: #23e623; }
    .team-gen-pg .team-gen-settings-pg .avail-container .fa-times-circle {
      color: #fd3636; }
    .team-gen-pg .team-gen-settings-pg .avail-container .fa-question-circle {
      color: #262228; }
  .team-gen-pg .team-gen-settings-pg .cant-play,
  .team-gen-pg .team-gen-settings-pg .can-play,
  .team-gen-pg .team-gen-settings-pg .pref-play {
    height: 4px;
    width: 4px;
    font-size: 0;
    border-radius: 50%;
    display: inline-block;
    margin: 1px; }
  .team-gen-pg .team-gen-settings-pg .cant-play {
    background-color: #fd3636; }
  .team-gen-pg .team-gen-settings-pg .can-play {
    background-color: orange; }
  .team-gen-pg .team-gen-settings-pg .pref-play {
    background-color: #23e623; }
.team-gen-pg .player-data-row .gen-options-box {
  margin: 0 2px; }
.team-gen-pg .player-data-row select,
.team-gen-pg .player-data-row option {
  font-size: 12px;
  font-family: 'Staatliches', cursive; }
.team-gen-pg .user-playing-positions-section {
  position: absolute;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  transition: all 1s;
  height: 100%; }
  .team-gen-pg .user-playing-positions-section h4 {
    margin-bottom: 10px;
    margin-right: 64px;
    display: inline-block; }
  .team-gen-pg .user-playing-positions-section .half-pitch .gk-row-team1 .team-1-player,
  .team-gen-pg .user-playing-positions-section .half-pitch .gk-row-team1 .team-2-player,
  .team-gen-pg .user-playing-positions-section .half-pitch .gk-row-team2 .team-1-player,
  .team-gen-pg .user-playing-positions-section .half-pitch .gk-row-team2 .team-2-player {
    background-image: url("../img/transparent-shirt-yellow.png"); }
  .team-gen-pg .user-playing-positions-section .pitch-row {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
    .team-gen-pg .user-playing-positions-section .pitch-row .team-1-player,
    .team-gen-pg .user-playing-positions-section .pitch-row .team-2-player {
      height: 40px;
      width: 40px; }
      .team-gen-pg .user-playing-positions-section .pitch-row .team-1-player p,
      .team-gen-pg .user-playing-positions-section .pitch-row .team-2-player p {
        font-family: 'Staatliches', cursive;
        margin-left: -100%;
        margin-right: -100%;
        text-align: center;
        font-size: 10px;
        color: #FFCE00;
        position: relative;
        top: 40px;
        text-shadow: -1px 1px 4px #000000; }
    .team-gen-pg .user-playing-positions-section .pitch-row .team-1-player {
      background-image: url("../img/transparent-shirt.png"); }
    .team-gen-pg .user-playing-positions-section .pitch-row .team-2-player {
      background-image: url("../img/transparent-shirt-red.png"); }

.index-page-bg-settings {
  width: 100%;
  height: 400px; }
  .index-page-bg-settings h1 {
    margin: 0 auto; }

.opening-section-bg {
  background-image: url("../img/christmascup-green.jpg"); }

.get-organised-bg {
  background-image: url("../img/vslegends.jpg"); }

.be-the-best-bg {
  background-image: url("../img/vslegends2.jpg"); }

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Staatliches', cursive; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.4em; }

a,
a:visited {
  color: #fff;
  text-decoration: none; }

.container {
  text-align: center; }

.page-container {
  position: relative;
  min-height: 88vh;
  max-width: 1024px;
  margin: 0 auto; }

.hidden,
.start-hidden {
  display: none;
  position: absolute; }

.uppercase {
  text-transform: uppercase; }

.errorlist {
  color: #fd3636;
  margin: 10px 0; }

.helptext {
  display: none; }

.make-pointer {
  cursor: pointer; }

.row {
  width: 100%; }

.cancelled {
  color: #fd3636;
  font-weight: 600 !important; }

.scheduled {
  color: #23e623;
  font-weight: 600 !important; }

/*# sourceMappingURL=styles.css.map */
