@import "helpers/cssreset";
@import "helpers/placeholders";
@import "helpers/colors";
@import "helpers/media-queries";
@import "components/buttons";
@import "components/animations";
@import "components/base";
@import "components/pages";
@import "components/page-backgrounds";

// General styling -------------------------------------------------------------

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Staatliches', cursive;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.4em;
}

a,
a:visited {
    color: $white;
    text-decoration: none;
}

.flex-center-content {
    @extend %centralise-inner-container;
}

.container {
    text-align: center;
}

.page-container {
    position: relative;
    min-height: 80vh;
}

.start-hidden {
    display: none;
    position: absolute;
}

.uppercase {
    text-transform: uppercase;
}

.errorlist {
    color: $error-red;
    margin: 10px 0;
}

.helptext {
    display: none;
}