/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.user-playing-positions-section .half-pitch .row, .index-page-bg-settings, .flex-center-content {
  display: flex;
  justify-content: center;
  align-items: center; }

.opening-section-bg, .get-organised-bg, .be-the-best-bg {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover; }

/* --- Widths */
button,
.link-btn {
  width: 80px;
  height: 35px;
  border: #fff 1px solid;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Staatliches', cursive;
  outline: none;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  letter-spacing: 1px; }

.get-started-btn {
  background-color: #FFCE00;
  display: block;
  line-height: 36px;
  margin: 0 auto 22px;
  cursor: pointer;
  border: 5px solid #262228; }

.open-sign-in-btn,
.sign-in-btn {
  background-color: #0375B4;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 20px; }

.open-sign-up-btn,
.sign-up-btn {
  background-color: #007849; }

.sign-up-btn {
  margin: 20px 0 0; }

.close-parent-btn,
.remove-parent-btn {
  border: none;
  width: 20px;
  height: 20px;
  color: #000;
  position: absolute;
  right: 3px;
  top: 0;
  background-color: unset;
  margin: 2px; }

.messages-box .close-parent-btn {
  color: #fff; }

.update-form-btn {
  background-color: #0375B4;
  display: block; }

nav {
  background-color: #FFCE00; }
  nav .logo {
    max-width: 30%; }
  nav ul {
    max-width: 70%; }
  nav .logo,
  nav ul,
  nav li {
    display: inline-block;
    box-sizing: border-box; }
  nav .logo,
  nav ul {
    padding: 20px; }
  nav ul {
    float: right; }
    nav ul li {
      padding: 0 4px; }

footer {
  background-color: #262228;
  color: #fff;
  height: 56px; }
  footer .container {
    display: inline-block;
    width: 49.5%;
    box-sizing: border-box; }

.messages-container {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 140px; }

.messages-box {
  position: absolute;
  left: 0;
  right: -100%;
  margin-left: auto;
  width: 70%;
  min-width: 200px;
  max-width: 400px;
  min-height: 32px;
  text-align: center;
  top: 40px;
  color: #fff;
  background-color: #262228;
  padding: 5px;
  z-index: 100;
  transition-property: right;
  transition-duration: 2s; }
  .messages-box .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center; }
    .messages-box .container p {
      text-align: left;
      margin-right: 16px; }

.slide-in-from-right {
  right: 0; }

.opening-section,
.get-organised,
.be-the-best {
  min-height: 386px; }
  .opening-section p,
  .get-organised p,
  .be-the-best p {
    padding: 28px 28px 0;
    line-height: 19px; }
  .opening-section p:nth-of-type(2),
  .get-organised p:nth-of-type(2),
  .be-the-best p:nth-of-type(2) {
    padding-bottom: 28px; }

.opening-section {
  background-color: #007849;
  color: #fff; }

.get-organised {
  background-color: #0375B4;
  color: #fff; }

.be-the-best {
  color: #007849; }

.sign-in-section,
.sign-up-section {
  position: relative;
  height: 45vh;
  box-sizing: border-box;
  text-align: center;
  color: #fff; }
  .sign-in-section p,
  .sign-up-section p {
    padding: 22px 10px 0;
    line-height: 14px; }

.sign-in-section {
  background-color: #007849;
  padding: 30px 20px 20px; }

.sign-up-section {
  background-color: #0375B4;
  padding: 20px 20px 30px; }
  .sign-up-section .container {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 20px; }

.login-form,
.sign-up-form {
  background-color: #fff;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 20px;
  box-sizing: border-box;
  min-height: 66%; }
  .login-form h3,
  .sign-up-form h3 {
    margin-bottom: 10px; }
  .login-form h3 ~ p,
  .sign-up-form h3 ~ p {
    margin-bottom: 24px; }
  .login-form label,
  .login-form input,
  .sign-up-form label,
  .sign-up-form input {
    display: inline-block;
    width: 90%;
    margin: 0 auto 8px;
    text-align: left; }

.login-form h3 ~ p {
  margin-bottom: 60px; }
.login-form p a {
  color: #fd3636; }

#update-form {
  position: absolute;
  height: 180px;
  z-index: 5;
  top: 155px;
  padding: 30px;
  background-color: white;
  width: 100%;
  box-sizing: border-box; }
  #update-form label,
  #update-form input {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px; }

.profile-page .first_name,
.profile-page .surname,
.profile-page .nickname,
.profile-page .date_of_birth,
.profile-page .attack,
.profile-page .midfield,
.profile-page .defense,
.profile-page .goalkeeper {
  cursor: pointer; }
.profile-page section {
  padding: 32px; }
.profile-page h4 {
  margin-bottom: 35px; }
.profile-page dt,
.profile-page dd {
  display: inline-block;
  margin: 2px 0;
  padding: 4px 0;
  font-size: 9px; }

.user-info-section {
  color: #007849; }
  .user-info-section .header {
    margin-bottom: 20px; }
  .user-info-section h1 {
    margin-bottom: 4px; }
  .user-info-section .container {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center; }
    .user-info-section .container dt {
      width: 40%;
      background-color: #007849;
      color: #fff; }
    .user-info-section .container dd {
      width: 60%;
      background-color: #ececec;
      color: #0375B4; }
  .user-info-section .license-expiry > dt,
  .user-info-section .license-expiry > dd {
    background-color: #0375B4 !important;
    color: #fff !important; }

.user-playing-positions-section {
  position: relative;
  padding: 32px;
  background-color: #007849;
  color: #fff; }
  .user-playing-positions-section .preferred-box {
    background-color: #23e623 !important; }
  .user-playing-positions-section .can-play-box {
    background-color: orange !important; }
  .user-playing-positions-section .cant-play-box {
    background-color: red !important; }
  .user-playing-positions-section .key-box {
    position: absolute;
    right: 32px;
    width: 18%;
    top: 32px; }
    .user-playing-positions-section .key-box .preferred-box,
    .user-playing-positions-section .key-box .can-play-box,
    .user-playing-positions-section .key-box .cant-play-box {
      display: inline-block;
      height: 10px;
      width: 10px; }
    .user-playing-positions-section .key-box label {
      font-size: 8px; }
  .user-playing-positions-section .half-pitch {
    border: 1px solid #fff; }
    .user-playing-positions-section .half-pitch .row {
      height: 55px; }
      .user-playing-positions-section .half-pitch .row div {
        display: block;
        position: relative;
        text-align: center;
        white-space: nowrap;
        height: 20px;
        width: 28px;
        border-radius: 50%;
        border: 2px solid #fff;
        background-color: #fd3636;
        padding-top: 7px; }
        .user-playing-positions-section .half-pitch .row div span {
          text-align: center;
          margin-left: -100%;
          margin-right: -100%;
          font-weight: 600;
          color: #fff;
          letter-spacing: 1px; }

.user-attributes-section h4 {
  color: #0375B4; }
.user-attributes-section .container {
  margin-bottom: 22px; }
.user-attributes-section .row {
  width: 100%; }
.user-attributes-section dt {
  width: 36%;
  background-color: #0375B4;
  color: #fff; }
.user-attributes-section dd {
  width: 13%;
  background-color: #ececec;
  color: #000; }

.user-form-section {
  background-color: #0375B4; }
  .user-form-section h4 {
    color: #fff; }
  .user-form-section dt {
    width: 50%;
    background-color: #0375B4;
    color: #fff;
    text-align: left; }
  .user-form-section dd {
    width: 50%;
    background-color: #ececec;
    color: #007849;
    text-align: center; }
  .user-form-section dd:last-of-type,
  .user-form-section dt:last-of-type {
    font-weight: 600;
    margin-top: 22px; }

.group-page {
  min-height: 88vh;
  background-color: #007849; }
  .group-page h1 {
    color: #fff;
    margin-bottom: 10px; }
  .group-page section {
    padding: 32px; }
  .group-page .create-join-group-area .container {
    text-align: unset;
    color: #fff; }
  .group-page .create-join-group-area .create-group-box,
  .group-page .create-join-group-area .join-group-box {
    border: 1px #fff solid;
    text-align: left;
    display: inline-block;
    width: 90%;
    margin: 5px 0;
    padding: 6px 0 6px 6px;
    box-sizing: border-box; }
  .group-page .create-join-group-area i {
    margin: 0;
    padding: 0;
    font-size: 30px;
    position: relative;
    top: 7px;
    margin-left: -6px; }
  .group-page .group-select-area {
    color: #fff; }

.index-page-bg-settings {
  width: 100%;
  height: 400px; }
  .index-page-bg-settings h1 {
    margin: 0 auto; }

.opening-section-bg {
  background-image: url("../img/christmascup-green.jpg"); }

.get-organised-bg {
  background-image: url("../img/vslegends.jpg"); }

.be-the-best-bg {
  background-image: url("../img/vslegends2.jpg"); }

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Staatliches', cursive; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.4em; }

a,
a:visited {
  color: #fff;
  text-decoration: none; }

.container {
  text-align: center; }

.page-container {
  position: relative;
  min-height: 80vh; }

.start-hidden {
  display: none;
  position: absolute; }

.uppercase {
  text-transform: uppercase; }

.errorlist {
  color: #fd3636;
  margin: 10px 0; }

.helptext {
  display: none; }

.make-pointer {
  cursor: pointer; }

/*# sourceMappingURL=styles.css.map */
