{% extends 'base.html' %}

{% block page_title %}Get Started{% endblock %}
{% block page_heading %}Get Started{% endblock %}

{% block content %}

    <!--Form to log users in -->
    
    <h2>Log in Section</h2>
    
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        {{ login_form.as_p }}   
        <button type="submit">Login</button>
    </form>
    
    <!--Reset password link-->
    <p><a href="{% url 'password_reset' %}">Reset Password</a></p> 
    
    
    <!--Form to register new users -->
    <h2>Register Now</h2>
    
    <form method="POST" action="{% url 'register' %}">
        {% csrf_token %}
        {{ registration_form.as_p }}
        {{ form.non_field_errors }}
        <button type="submit">Register</button>
    </form>
    
{% endblock %}