{% extends 'base.html' %}

{% block page_title %}{{ user }}{% endblock %}

{% block content %}
<div class="page-container profile-page">
    <section class="user-info-section">
        <div class="header">
            <h1>Profile</h1> 
            <h4>User Details - {{ user.email }} ( <span id="profile-id">{{ profile.pk }}</span> )</h4> 
        </div>
        
        <div class="photo-container">
            {% if profile.user_photo %}
                <div class="user-photo-img" style="background-image: url({{ profile.user_photo.url }});"></div>
            {% else %}
                <div class="player-shirt-container shirt">
                    <span class="container">
                        {% if profile.nickname %}
                            <p id="curve-{{ user.pk }}" class="member-content username">{{ profile.nickname|truncatechars:10 }}</p>
                        {% else %}
                            <p id="curve-{{ user.pk }}" class="member-content username">{{ profile.username|truncatechars:10 }}</p>
                        {% endif %}
                    </span>
                </div> 
            {% endif %}
            <form class="image-form" enctype="multipart/form-data" method="POST" action="{% url 'add_new_image' profile.pk %}">
                {% csrf_token %}
                <div class="container">
                    {{ add_new_image_form.as_p }}   
                    <button class="add-new-image-btn click-shrink hover-effect-gold" type="submit">Update <i class="fas fa-check"></i></button>
                </div>
            </form>
        </div>
        
        <div class="data-holder">
            <dl class="data-container">
                <dt class="first_name">First Name</dt><dd>{{ profile.first_name }}</dd>
                <dt class="surname">Surname</dt><dd>{{ profile.surname }}</dd>
                <dt>Email</dt><dd>{{ user.email }}</dd>
                <dt>Username</dt><dd>{{ user.username }}</dd>
                <dt class="nickname">Nickname</dt><dd>{{ profile.nickname }}</dd>
                <dt class="date_of_birth">D.O.B</dt><dd type="date">{{ profile.date_of_birth  }}</dd>
                <dt>Registration Date</dt><dd>{{ profile.registration_date }}</dd>
            </dl>
            
            <dl class="data-container license-expiry">
                <dt>Full License Expiry</dt><dd>{{ profile.license_expiry_date }}</dd>   
            </dl>
        </div>
    </section>
    
    <div class="tablet-row">
        <section class="user-playing-positions-section">
            <h4>User playing positions</h4>
            <div class="key-box">
                <div class="preferred-box"></div><label>  Preferred</label><br>
                <div class="can-play-box"></div><label>  Can Play</label><br>
                <div class="cant-play-box"></div><label>  Can't Play</label>
            </div>
            <div class="half-pitch">
                <div class="row">
                    {% if profile.att_pref == 0 %}
                        <div id="att_pref" class="attack inset-shadow">
                    {% elif profile.att_pref == 1 %}
                        <div id="att_pref" class="attack inset-shadow can-play-box">
                    {% else %}
                        <div id="att_pref" class="attack inset-shadow preferred-box">
                    {% endif %}
                        <span>Attack</span>
                    </div>
                </div>
                <div class="row">
                    {% if profile.mid_pref == 0 %}
                        <div id="mid_pref" class="midfield inset-shadow">
                    {% elif profile.mid_pref == 1 %}
                        <div id="mid_pref" class="midfield can-play-box inset-shadow">
                    {% else %}
                        <div id="mid_pref" class="midfield preferred-box inset-shadow">
                    {% endif %}
                        <span>Midfield</span>
                    </div>
                </div>
            </div>
            <div class="half-pitch">
                <div class="row">
                    {% if profile.def_pref == 0 %}
                        <div id="def_pref" class="defense inset-shadow">
                    {% elif profile.def_pref == 1 %}
                        <div id="def_pref" class="defense can-play-box inset-shadow">
                    {% else %}
                        <div id="def_pref" class="defense preferred-box inset-shadow">
                    {% endif %}
                        <span>Defense</span> 
                    </div>
                </div>
                <div class="row">
                    {% if profile.gk_pref == 0 %}
                        <div id="gk_pref" class="goalkeeper inset-shadow">
                    {% elif profile.gk_pref == 1 %}
                        <div id="gk_pref" class="goalkeeper can-play-box inset-shadow">
                    {% else %}
                        <div id="gk_pref" class="goalkeeper preferred-box inset-shadow">
                    {% endif %}
                        <span>Goalkeeper</span> 
                    </div>
                </div>
            </div>
        </section>
        <section class="user-attributes-section">
            <h4>User attributes (max 10) - number of user votes = <span>{{ votes }}</span></h4>
            <dl class="container attr-container">
                <div class="row">
                    <dt>Goalkeeping</dt><dd class="gk-rate">{{ attributes.avg_gk|floatformat:2 }}</dd>
                    <dt>Passing</dt><dd class="pass-rate">{{ attributes.avg_pass|floatformat:2 }}</dd>
                </div>
                <div class="row">
                    <dt>Defending</dt><dd class="def-rate">{{ attributes.avg_def|floatformat:2 }}</dd>
                    <dt>Finishing</dt><dd class="fin-rate">{{ attributes.avg_fin|floatformat:2 }}</dd>
                </div>
                <div class="row">
                    <dt>Movement</dt><dd class="move-rate">{{ attributes.avg_move|floatformat:2 }}</dd>
                    <dt>Outfield Score</dt><dd>{{ avg_outfield|floatformat:2 }}</dd>
                </div>
            </dl>
            <div class="container chart-container">
                
                <canvas id="myChart" width="400" height="400"></canvas>
                
            </div>
        </section>
    </div>
    <section class="user-form-section">
        {% if profile.has_current_license %}
            
            <div class="container">
                <h3>All time performance rating</h3>
                <h5>- Out of 5.00 -</h5>
                {% if performance_ratings %}
                    <p>{{ all_time_rating.all_time_rating|floatformat:2  }}</p>
                {% else %}
                    <p>N/A</p> 
                {% endif %}
            </div>
            <h4>User form (last 5 games)</h4>
            <div class="container">
                <dl>
                    {% if performance_ratings %}
                        {% for rating in performance_ratings.all %}
                            <dt>Match on - {{ rating.performance_matchID__date_of_match }}</dt><dd>RATED: {{ rating.avg_rating|floatformat:2 }} out of 5</dd>
                        {% endfor %}
                        
                        <dt>OVERALL FORM</dt><dd>RATED: {{ overall_form_rating.score|floatformat:2 }} out of 5</dd>
                    
                    {% else %}
                        <dt>You have never been rated!</dt>
                    {% endif %}
                </dl>
            </div>
        {% else %}
            <div class="expiry-container">
                <h2>License expired</h2> 
                <p>Oh no!  Your license has expired so you can no longer view your all time performance rating or your recent form data.</p>     
                <p>Fear not!  Simply click on the link below to renew your license for an addition 6 months...</p> 
                <a class="link-btn click-shrink hover-effect-gold" href="{% url 'checkout' "S" %}">Renewal</a>
            </div>
        {% endif %}
    </section>
    

</div>


{% endblock %}