.start-off-screen {
    right: -100%;
}

.slide-in-from-right {
    right: 0;
}

.click-shrink:active {
    transform: scale(0.9);
}

.sm-click-shrink:active {
    transform: scale(0.96);
}

.click-color-change:active {
    background-color: $preference-green !important;
}

.rotate {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotate-ball {
    animation-name: rotate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    from {
        transform: rotate(359deg);
    }

    to {
        transform: rotate(0deg);
    }
}

.bounce-ball {
    position: relative;
    animation-name: jump;
    animation-direction: alternate;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes jump {
    from {
        top: -10px;

    }
    
    to {
        top: -40px;
    }
}
