.start-off-screen {
    right: -100%;    
}

.slide-in-from-right {
    right: 0;
}

.click-shrink:active {
    transform: scale(0.9);
}

.sm-click-shrink:active {
    transform: scale(0.96);
}

.click-color-change:active {
    background-color: $preference-green !important;
}