// nav-bar settings ------------------------------------------------------------

nav {
    
    background-color: $brand-sunflower-yellow;
    
    .logo {
        max-width: 30%;
    }
    
    ul {
        max-width: 70%;
    }
    
    .logo,
    ul,
    li {
        display: inline-block;
        box-sizing: border-box;
    }
    
    .logo,
    ul {
        padding: 20px;
    }
    
    ul {
        float: right;
        
        li {
            padding: 0 4px;
        }
    }
}

footer {
    background-color: $brand-evening-black;
    color: $white;
    height: 56px;
    
    .container {
        display: inline-block;
        width: 49.5%;
        box-sizing: border-box;
    }
}

.messages-box {
    position: absolute;
    left: 0; 
    right: -100%; 
    margin-left: auto; 
    width: 70%;
    min-width: 200px;
    max-width: 400px;
    min-height: 32px;
    text-align: center;
    top: 86px;
    color: $white;
    background-color: $brand-evening-black;
    padding: 5px;
    
    transition-property: right;
    transition-duration: 2s;
    
    .container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    
        p {
            text-align: left;
            margin-right: 16px;
        }   
    }
    
}

.slide-in-from-right {
    right: 0;
}