button,
.link-btn {
    width: 80px;
    height: 35px;
    border: $white 1px solid;
    text-transform: uppercase;
    color: $white;
    font-family: 'Staatliches', cursive;
    outline:none;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

// Index.html buttons ----------------------------------------------------------

.get-started-btn {
    background-color: $brand-sunflower-yellow;
    display: block;
    line-height: 36px;
    margin: 0 auto 22px;
    cursor: pointer;
    border: 5px solid $brand-evening-black;
}

// get_started.html buttons ----------------------------------------------------

.open-sign-in-btn,
.sign-in-btn {
    background-color: $brand-starry-night-blue;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    bottom: 20px;
}

.open-sign-up-btn,
.sign-up-btn {
    background-color: $brand-irises-green;
}

.sign-up-btn {
    margin: 20px 0 0;
}

.close-parent-btn {
    border: none;
    width: 20px;
    height: 20px;
    color: $black;
    position: absolute;
    right: 3px;
    top: 0;
    background-color: unset;
    margin: 2px;
}

.messages-box .close-parent-btn {
    color: $white;
}