button,
.link-btn {
    width: 80px;
    height: 30px;
    border: $white 1px solid;
    text-transform: uppercase;
    color: $white;
    font-family: 'Staatliches', cursive;
    outline:none;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.link-btn {
    text-align: center;
    line-height: 32px;
    display: block;
    background-color: $brand-evening-black;
}

// Index.html buttons ----------------------------------------------------------

.get-started-btn {
    background-color: $brand-sunflower-yellow;
    display: block;
    line-height: 32px;
    margin: 0 auto 22px;
    cursor: pointer;
    border: 5px solid $brand-evening-black;
}

// get_started.html buttons ----------------------------------------------------

.open-sign-in-btn,
.sign-in-btn {
    background-color: $brand-starry-night-blue;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    bottom: 20px;
}

.open-sign-up-btn,
.sign-up-btn {
    background-color: $brand-irises-green;
}

.sign-up-btn {
    margin: 20px 0 0;
}

.close-parent-btn,
.remove-parent-btn {
    border: none;
    width: 20px;
    height: 20px;
    color: $black;
    position: absolute;
    right: 3px;
    top: 0;
    background-color: unset;
    margin: 2px;
    cursor: pointer;
}

.messages-box .close-parent-btn {
    color: $white;
}

.update-form-btn,
.new-group-btn,
.join-group-btn,
.update-player-attributes-btn,
.create-edit-match-btn {
    background-color: $brand-starry-night-blue;
    display: block;
}

.group-rtn-btn {
    position: absolute;
    top: 20px;
    right: 32px;
    width: 46px;
    margin: 0;
}

.update-player-attributes-btn {
    margin: 0 auto;
    background-color: $brand-irises-green;
}

// Group-home.html buttons -----------------------------------------------------

.add-a-match-btn {
    display: inline-block;
    font-size: 8px;
    width: 20px;
    text-align: center;
    height: 20px;
    line-height: 20px;
    background-color: $brand-evening-black-offset;
    
    @extend %inset-shadow;
    
    i {
        font-size: 18px;
        margin-top: 0.2px;
    }
}

// Match_page.html buttons -----------------------------------------------------
.edit-match-btn {
    width: 52px;
    height: 17px;
    line-height: 16px;
}