// Index page styles -----------------------------------------------------------
.opening-section,
.get-organised,
.be-the-best {
    min-height: 386px;

    p {
        padding: 28px 28px 0;
        line-height: 19px;
    }

    p:nth-of-type(2) {
        padding-bottom: 28px;
    }
}

.opening-section {
    background-color: $brand-irises-green;
    color: $white;
}

.get-organised {
    background-color: $brand-starry-night-blue;
    color: $white;
}

.be-the-best {
    color: $brand-irises-green;
}

// get_started.html ------------------------------------------------------------
.sign-in-section,
.sign-up-section {
    position: relative;
    height: 45vh;
    box-sizing: border-box;
    text-align: center;
    color: $white;

    p {
        padding: 22px 10px 0;
        line-height: 14px;
    }
}

.sign-in-section {
    background-color: $brand-irises-green;
    padding: 30px 20px 20px;
}

.sign-up-section {
    background-color: $brand-starry-night-blue;
    padding: 20px 20px 30px;

    .container {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        bottom: 20px;
    }
}

.login-form,
.sign-up-form {
    background-color: $white;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 20px;
    box-sizing: border-box;
    min-height: 66%;

    h3 {
        margin-bottom: 10px;
    }

    h3~p {
        margin-bottom: 24px;
    }

    label,
    input {
        display: inline-block;
        width: 90%;
        margin: 0 auto 8px;
        text-align: left;
    }
}

.login-form {
    h3~p {
        margin-bottom: 60px;
    }

    p a {
        color: $error-red;
    }
}

// profile.html ----------------------------------------------------------------
#update-form {
    position: absolute;
    height: 200px;
    z-index: 5;
    top: 136px;
    padding: 30px;
    background-color: white;
    width: 100%;
    box-sizing: border-box;

    label,
    input {
        display: inline-block;
        width: 100%;
        margin-bottom: 5px;
    }
}

.profile-page {

    .first_name,
    .surname,
    .nickname,
    .date_of_birth,
    .attack,
    .midfield,
    .defense,
    .goalkeeper {
        cursor: pointer;
    }


    section {
        padding: 32px;
    }

    h4 {
        margin-bottom: 35px;
    }

    dt,
    dd {
        display: inline-block;
        margin: 3px 0;
        padding: 6px 0;
        font-size: 9px;
    }
}

.image-form {
    
    p { 
        display: inline-block;
        
        input {
            max-width: 83px;
            font-family: 'Staatliches', cursive;
            vertical-align: inherit;
        }
        
    }
    
    i {
        font-size: 10px;
        text-align: center;
        color: $white;
        font-weight: 600;
        margin-left: 4px;
    }
}

.user-info-section {
    color: $brand-irises-green;
        
    .header {
        
        h4 {
            margin-bottom: 0;
        }
    }

    h1 {
        margin: 0;
        max-width: 200px;
        font-size: 2.2em;
    }

    h1~p {
        display: inline-block;
        font-size: 6px;
    }

    .user-photo-img {
        @extend %user-image-photo;
    }

    .data-container {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        margin-top: 20px;

        dt {
            width: 40%;
            background-color: $brand-irises-green;
            color: $white;
        }

        dd {
            width: 60%;
            background-color: $form-input-grey;
            color: $brand-starry-night-blue;
        }

    }
    
    .data-container:nth-of-type(2){
        margin-top: 0;
    }
    
    
    .shirt {
        margin: 20px 0;
        height: 110px;
        color: $white;
        
        span {
            
            .username {
                margin-top: 5px;
            }
            
            div {
                font-size: 16px;
            }
            
        }
    }

    .first_name,
    .surname,
    .nickname,
    .date_of_birth {
        @extend %inset-shadow;
    }

    .license-expiry>dt,
    .license-expiry>dd {
        background-color: $brand-starry-night-blue !important;
        color: $white !important;
    }
}

.user-playing-positions-section {
    position: relative;
    padding: 32px;
    background-color: $brand-irises-green;
    color: $white;

    .preferred-box {
        background-color: $preference-green !important;
    }

    .can-play-box {
        background-color: $can-play-amber !important;
    }

    .cant-play-box {
        background-color: red !important;
    }

    .key-box {
        position: absolute;
        right: 32px;
        width: 18%;
        top: 32px;

        .preferred-box,
        .can-play-box,
        .cant-play-box {
            display: inline-block;
            height: 10px;
            width: 10px;
        }

        label {
            font-size: 8px;
        }
    }

    .half-pitch {
        border: 1px solid $white;

        .row {
            height: 55px;
            @extend %centralise-inner-container;

            div {
                display: block;
                position: relative;
                text-align: center;
                white-space: nowrap;
                height: 20px;
                width: 28px;
                border-radius: 50%;
                border: 2px solid #fff;
                background-color: #fd3636;
                padding-top: 7px;

                span {
                    text-align: center;
                    margin-left: -100%;
                    margin-right: -100%;
                    font-weight: 600;
                    color: $white;
                    letter-spacing: 1px;
                }
            }
        }
    }
}

.user-attributes-section {

    h4 {
        color: $brand-starry-night-blue;
    }

    .container {
        margin-bottom: 22px;
    }

    .chart-container,
    .btn-container,
    .attr-container {
        margin-bottom: 0px;
    }

    .row {
        width: 100%;
    }


    dt,
    label {
        width: 36%;
        background-color: $brand-starry-night-blue;
        color: $white;
    }

    dd,
    input {
        width: 13%;
        background-color: $form-input-grey;
        color: $black;
    }

    #rate-player-form {
        p {
            display: inline-block;
            font-size: 8px;
            width: 9%;
            font-weight: 600;
        }
    }
}

.user-form-section {
    background-color: $brand-starry-night-blue;

    .container:first-of-type {
        color: white;
        margin: 0 0 40px;
        
        p:first-of-type {
            background-color: $brand-irises-green;
            margin: 10px auto 20px;
            font-size: 20px;
            padding: 18px 9px;
            width: 40px;
            font-weight: 900;
            text-align: center;
        }
    }

    h4 {
        color: $white;
    }

    dt {
        width: 50%;
        background-color: $brand-starry-night-blue;
        color: $white;
        text-align: left;
    }

    dd {
        width: 50%;
        background-color: $form-input-grey;
        color: $brand-irises-green;
        text-align: center;
    }

    dd:last-of-type,
    dt:last-of-type {
        font-weight: 600;
        margin-top: 22px;
    }
}

// group_select.html -----------------------------------------------------------
.group-page {
    background-color: $brand-irises-green;

    h1 {
        color: $white;
        margin-bottom: 10px;
    }

    section {
        padding: 32px;

    }

    .create-join-group-area {

        padding-bottom: 16px;

        .container {
            text-align: unset;
            color: #fff;
        }

        .create-group-box,
        .join-group-box {
            border: 1px #fff solid;
            text-align: left;
            display: inline-block;
            width: 90%;
            margin: 5px 0;
            padding: 6px 0 6px 6px;
            box-sizing: border-box;
        }

        i {
            margin: 0;
            padding: 0;
            font-size: 30px;
            position: relative;
            top: 7px;
            margin-left: -6px;
        }
    }

    .group-select-area {
        color: $white;
        padding-top: 16px;
    }

    .create-group-form,
    .join-group-form {
        position: absolute;
        min-height: 232px;
        z-index: 5;
        top: 78px;
        padding: 30px;
        background-color: white;
        width: 100%;
        box-sizing: border-box;

        .close-parent-btn {
            top: 10px;
        }

        label,
        input {
            display: inline-block;
            width: 100%;
            margin-bottom: 5px;
        }
    }
}

.group-box {
    background-color: $brand-sunflower-yellow;
    border-radius: 6px;
    margin-bottom: 16px;
    padding: 16px;
    font-family: 'Staatliches', cursive;
    max-width: 320px;
    min-height: 113px;
    box-sizing: border-box;

    .group-details-container {
        display: inline-block;
        text-align: left;
        margin-right: 10px;
        min-width: 60%;
        max-width: 146px;

        h2 {
            margin-bottom: 5px;
            min-height: 33px;
            color: $brand-irises-green;
        }

        p {
            font-size: 14px;
        }
    }

    .members-details-container {
        width: 64px;
        height: 64px;
        display: inline-block;
        text-align: center;
        border: 1px solid $white;
        float: right;

        p:last-of-type {
            font-size: 2em;
        }

        .flex {
            @extend %centralise-inner-container;
            height: 100%;
            width: 100%;
        }
    }
}

// group-home.html -------------------------------------------------------------
.group-home {

    header,
    .group-box {
        width: 100%;
        max-width: unset;
        background-color: $brand-evening-black;
        color: $white;
        padding: 28px 28px 16px;
        box-sizing: border-box;
        margin-bottom: 0;
        border-radius: 0;

        h2 {
            color: $white;
        }

    }

    .group-id {
        background-color: $brand-evening-black-offset;
        padding: 6px;
        font-size: 8px;
        color: $white;
        position: relative;
    }

    .content {
        box-sizing: border-box;

        .member-box,
        .matches-box {
            box-sizing: border-box;
            min-height: 80px;
            box-sizing: border-box;
        }

        .member-box {
            color: $white;
            width: 100%;
            background-color: $brand-irises-green;
            padding-bottom: 20px;
            min-height: 55vh;

            .row {
                box-sizing: border-box;
                padding: 20px;
            }

            .member-container {
                text-align: center;
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;

                .user-container {
                    display: inline-block;
                    width: 24%;
                }

                .shirt {
                    display: inline-block;
                    height: 46px;
                    width: 100%;
                    margin: 8px 0;
                    background-image: url('../img/transparent-shirt.png');
                    @extend %contain-picture;

                    .container {
                        height: 100%;
                        width: 100%;
                        display: flex;
                        justify-content: center;

                        .username {
                            font-family: 'Staatliches', cursive;
                            width: 100%;
                            padding: 0;
                        }
                    }
                }
            }

            h3 {
                font-size: 1em;
            }

            p,
            h3 {
                width: 45%;
                display: inline-block;
                margin: 2px 0;
                box-sizing: border-box;
            }

            .member-content {
                font-size: 0.8em;
                padding: 0 0 6px 0;
            }
        }

        .matches-box {
            width: 100%;
            color: $brand-sunflower-yellow;
            background-color: $brand-evening-black;
            text-align: left;
            position: relative;

            .container p {
                margin: 2px 0;
            }

            h3 {
                padding: 6px 0;
                text-align: left;
                display: inline-block;
                width: 91%;
            }

            .row:first-of-type {
                padding: 2px 20px;
                box-sizing: border-box;
                justify-content: center;
            }

            .no-matches {
                padding: 20px;
            }

            .matches-row {
                background-color: $brand-evening-black;
                justify-content: space-evenly;
                display: flex;
                align-items: center;
                justify-content: start;
                overflow-x: scroll;
                overflow-y: hidden;
                white-space: nowrap;
                
                &::-webkit-scrollbar {
                    display: none;
                }
            }

            .match-link:nth-of-type(even) {
                background-color: $brand-evening-black-offset;
                width: 36%;
                max-width: 120px;
                @extend %matches-box-shadow;
            }

            .match-link {
                position: relative;
                left: 4.5%;
                text-align: center;
                background-color: $brand-evening-black;
                display: inline-block;
                padding: 4px;
                font-size: 8px;
                width: 30%;
                min-width: 100px;
                max-width: 100px;
                height: 56px;

                -webkit-transform-origin: 100% 0;
                -ms-transform-origin: 100% 0;
                transform-origin: 100% 0;
                -webkit-transform: skew(-24deg);
                -ms-transform: skew(-24deg);
                transform: skew(-24deg);

                .match-box {

                    width: 100%;
                    height: 100%;
                    @extend %centralise-inner-container;

                    p {
                        -webkit-transform: skew(24deg);
                        -ms-transform: skew(24deg);
                        transform: skew(24deg);
                        text-align: left;
                        width: 66px;
                        font-family: 'Staatliches', cursive;
                        font-size: 9px;
                        letter-spacing: 0.2px;
                    }

                    span {
                        float: right;
                    }
                }
            }

        }
    }
}

// player-profile.html ---------------------------------------------------------
.user-attributes-section {
    label,
    input {
        display: inline-block;
        margin: 3px 0;
        padding: 6px 0;
        font-size: 9px;
    }

    input {
        width: 9%;
        text-align: center;
    }
}

// match_page.html -------------------------------------------------------------
.matches-page {

    background-color: $brand-irises-green;

    .header {
        padding: 28px 28px 0;
        color: $white;
    }

    .match-data {
        padding: 10px 28px;
        color: $white;

        .overview-container {
            text-align: left;
            font-size: 10px;

            span {
                margin-left: 6px;
                font-weight: 500;
            }

            p {
                display: inline-block;
                margin: 2px 8px 2px 0;
                font-weight: 600;
            }
        }


        form {
            max-width: 300px;
            position: relative;
            font-size: 10px;
            margin-top: 30px;

            .close-parent-btn {
                text-align: right;
                color: $white;
                top: -4px;
                right: 0;
            }

            textarea {
                width: 100%;
                height: 60px;
                box-sizing: border-box;
                margin-top: 10px;
                font-family: 'Montserrat', sans-serif;
                font-size: 10px;
            }

            input,
            select {
                font-size: 10px;
            }

            select {
                float: right;
                font-family: 'Montserrat', sans-serif;
                color: $brand-evening-black;
                background-color: $brand-sunflower-yellow;
                font-weight: 600;
            }

            .row,
            p {
                justify-content: space-between;
                margin: 10px 0;
            }

            option:first-of-type {
                background-color: $preference-green;
            }

            option {
                background-color: $error-red;
            }
        }
    }

    .player-availability {
        background-color: $white;
        color: $brand-irises-green;
        padding: 28px;
        min-height: 55vh;
        
        h3 {
            margin-bottom: 20px;
        }
    }

    .member-container {
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        .user-container {
            display: inline-block;
            width: 24%;
        }

        .row {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .availability-container {

            width: 100px;

            .i-have-confirmed,
            .i-am-unavailable,
            .i-am-unconfirmed,
            .confirmed,
            .unavailable,
            .unconfirmed {
                padding: 10px;
                border-radius: 32px;
                font-weight: 600;
            }

            .i-have-confirmed,
            .confirmed {
                background-color: $preference-green;
            }

            .i-am-unavailable,
            .unavailable {
                background-color: $error-red;
                color: $white;
            }

            .i-am-unconfirmed,
            .unconfirmed {
                background-color: $unconfirmed-grey;
                color: $brand-evening-black;
            }

            .i-have-confirmed,
            .i-am-unavailable,
            .i-am-unconfirmed {
                cursor: pointer;
                transition: all 1s ease;
            }

        }
    }

    .team-generation {
        padding: 10px 28px;
        background-color: $brand-evening-black-offset;

        a {
            margin: 0;
        }
    }
}

// Used on multiple pages... ---------------------------------------------------
.shirt {
    display: inline-block;
    height: 46px;
    width: 100%;
    margin: 8px 0;
    background-image: url('../img/transparent-shirt.png');
    @extend %contain-picture;

    .container {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;

        .username {
            font-family: 'Staatliches', cursive;
            width: 100%;
            padding: 0;

            div {
                margin-top: 5px;
            }
        }
    }
}

//  gen_settings.html ----------------------------------------------------------
.overflow-container {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.team-gen-pg {
    .team-gen-settings-pg {
        min-height: 85vh;
        box-sizing: border-box;
        padding: 20px;

        .options-header {
            text-align: left;
            margin: 18px 0 10px;
            display: flex;
            align-items: center;

            p {
                font-family: 'Staatliches', cursive;
                font-size: 8px;
                width: 30px;
                margin: 0 3px;
            }

            p:first-of-type {
                text-align: center;
            }
        }

        input {
            width: 68px;
            border: unset;
        }

        h3,
        p {
            display: inline-block;
            text-align: left;
        }


        h3,
        .user-name-and-stats-container {
            width: 100px;
        }

        .row {
            display: flex;
            align-items: center;

        }

        input:focus {
            outline: none;
        }

        .player-container {
            text-align: left;
            width: 100px;

            label {
                font-size: 8px;
            }

            .user-name-and-stats-container {
                text-align: left;
                position: relative;

                .hidden {
                    display: none;
                }

                input {
                    display: inline-block;
                }
                .attr-container {
                    display: inline-block;
                    position: absolute;

                    input {
                        color: $white;
                        padding: 5px;
                        background-color: $brand-starry-night-blue;
                        font-size: 8px;
                        text-align: center;
                        font-weight: 600;
                        display: block;
                        width: 20px;
                    }

                    .hidden {
                        display: none;
                    }

                    input:first-of-type {
                        background-color: $brand-irises-green;
                    }

                }
            }


            .position-pref-container {
                width: 13%;
                display: inline-block;
                text-align: center;

                label,
                input {
                    width: 6px;
                    display: block;
                    margin: 0 2px 4px 0;
                }
            }
        }

        .avail-container {
            width: 42px;

            i {
                font-size: 16px;
            }

            .fa-check-circle {
                color: $preference-green;
            }

            .fa-times-circle {
                color: $error-red;
            }

            .fa-question-circle {
                color: $brand-evening-black;
            }
        }

        .cant-play,
        .can-play,
        .pref-play {
            height: 4px;
            width: 4px;
            font-size: 0;
            border-radius: 50%;
            display: inline-block;
            margin: 1px;
        }

        .cant-play {
            background-color: $error-red;
        }

        .can-play {
            background-color: $can-play-amber;
        }

        .pref-play {
            background-color: $preference-green;
        }
    }
    
    .player-data-row {
        
        .gen-options-box {
            margin: 0 2px;
        }
        
        select,
        option {
            font-size: 12px;
            font-family: 'Staatliches', cursive;
        }
        
    }
    
    .user-playing-positions-section {
        position: absolute;
        top: 0;
        width: 100%;
        box-sizing: border-box;
        transition: all 1s ;
        height: 100%;
        
        h4 {
            margin-bottom: 10px;
            margin-right: 12px;
            display: inline-block;
        }

        .half-pitch {
            .gk-row-team1,
            .gk-row-team2 {

                .team-1-player,
                .team-2-player {
                    background-image: url('../img/transparent-shirt-yellow.png');
                }

            }
        }


        .pitch-row {
            min-height: 50px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            .team-1-player,
            .team-2-player {
                height: 40px;
                width: 40px;
                @extend %contain-picture;


                p {
                    font-family: 'Staatliches', cursive;
                    margin-left: -100%;
                    margin-right: -100%;
                    text-align: center;
                    font-size: 10px;
                    color: $brand-sunflower-yellow;
                    position: relative;
                    top: 40px;
                    text-shadow: -1px 1px 4px #000000;
                }
            }

            .team-1-player {
                background-image: url('../img/transparent-shirt.png');
            }
            .team-2-player {
                background-image: url('../img/transparent-shirt-red.png');
            }
        }
        
        .team-scores {
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            font-family: 'Staatliches', cursive;
            text-align: center;
            box-sizing: border-box;
            
            .team-1-score,
            .team-2-score {
                display: inline-block;
                width: 74px;
                color: white ;
                @extend %floating-shadow;
                
                p {
                    padding: 4px;
                }
                
                p:nth-of-type(2) {
                    padding: 8px;
                    background-color: $white;
                    color: $brand-evening-black;
                }
            }
            
            .team-1-score {
                background-color: $brand-starry-night-blue;
            }
            
            .team-2-score {
                background-color: $shirt-red;
            }
            
            
            
        }
    }
}

// Rate_performance.html -------------------------------------------------------

.please-wait {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 50;
    color: $white;
    background-color: $brand-evening-black;
    @extend %centralise-inner-container;
    
    i {
        margin-top: 20px;
        font-size: 20px;
    }
}

.rate-performance-page {
    padding: 20px;
    overflow: hidden;
    background-color: $brand-irises-green;
    color: $white;
    
    h2 {
        margin-bottom: 10px;
    }
    
    .match-data {
        width: 100%;
        background-color: $brand-evening-black;
        padding: 10px;
        box-sizing: border-box;
        
        p {
            margin: 4px 0;
            font-size: 10px;
        }
        
        p:last-of-type {
            margin-bottom: 0;
        }
    }
    
    .user-info-section {
        position: relative;
    }
    
    .container {
        color: $white;
    }
    
    .user-photo-img ~ p {
        width: 117px;
        background-color: $brand-evening-black;
        padding: 3px 0;
        margin: 0 auto;
    }
    
    .player,
    .completed-box {
        background-color: $brand-irises-green;
        display: inline-block;
        width: 100%;
        height: 70vh;
        @extend %centralise-inner-container;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        box-sizing: border-box;
        
        .centralise {
            @extend %centralise-inner-container;
            height: 100%;
            
            .container {
                
                .player-image-container {
                    box-sizing: border-box;
                    width: 100%;
                    height: 170px;
                    margin-bottom: 20px;
                    
                    .user-photo-img {
                        margin-top: 0;
                    }
                }
            }
        }
        
        .final-container {
            button,
            p {
                margin: 40px auto;
            }
        }
    }
    
    .completed-box {
        z-index: 2;
    }
}