{% extends 'base.html' %}

{% block page_title %}About us{% endblock %}

{% block content %}
<div class="page-container info-pages-sections">
    <section class="about-us-section">
        <h1>Mt team utility</h1>
        
        <p>Thanks for visiting my site!</p> 
        
        <p>My name is Carlo and I created this piece of software for my friends 
        to use.</p> 
        
        <p>Over the years I have been part of a number of football groups and 
        getting organised has always been a challenge.</p> 
        
        <p>Different groups have used all sorts of methods for organising games 
        and to try to determine who is available for each game.</p> 
        
        <p>In addition, I've always felt it would be nice to gage how you compare
        as a player in the eyes of your peers, both from a core skills perspective
        and on a performance by performance basis</p> 
        
        <p>This app attempts to address these issues and more!  Create or join 
        groups, make matches, check each members availability, generate teams without
        an individual having to pick fair ones.  Rate each player's skills and 
        performance, see what newcomers look like and what to call them before
        kicking a ball, it's all here!</p> 
        
        <p>The design and features of the site will continue to be updated so 
        stay involved for future improvements!</p> 
        
        <p>I hope you enjoy using myteam and find it useful!</p> 
    </section>
    <section class="image">
        <div class="info-img"></div> 
    </section>
</div>
    
{% endblock %}