{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>myTeam - {% block page_title %}{% endblock %}</title>
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Staatliches" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/fontawesome-free-5.7.2-web/css/all.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}?version=1" type="text/css" />
    
</head>
<body>
    <nav>
        <div class="nav-content-container">
            <div class="logo click-shrink">
                <a href="/" class="logo-pic"></a>
            </div>
            <ul>
                {% if user.is_authenticated %}
                    <li class="click-shrink"><a href="{% url 'group-select' %}"><i class="fas fa-layer-group nav-i"></i>Groups</a></li>
                    <li class="click-shrink"><a href="{% url 'profile' user.pk %}"><i class="fas fa-user nav-i"></i>Profile</a></li>
                    <li class="click-shrink"><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt nav-i"></i>Logout</a></li>
                {% else %}
                    <li class="click-shrink"><a href="{% url 'get-started' %}"><i class="fas fa-play nav-i"></i>Get Started</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    
    
    <div class="messages-container">
        <div class="messages-box start-off-screen">
            <button class="close-parent-btn"><i class="far fa-window-close"></i></button> 
            <div class="container">
                <p class="message-para">{% for message in messages %}{{ message }}{% endfor %}</p>
            </div>
        </div>
    </div>
    
    
    <h1>{% block page_heading %}{% endblock %}</h1> 
    
    {% block content %}
    {% endblock %}
    
    <footer class="flex-center-content">
        <div class="container">
            <a href="#">About Us</a> 
        </div> 
        <div class="container">
            <a href="#">Get in Touch</a> 
        </div> 
    </footer>
    
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/circletype/dist/circletype.min.js' %}"></script>
    <script src="{% static 'js/chart.js/dist/Chart.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/scripts/main.js' %}"></script>
    
</body>
</html>