{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>myTeam - {% block page_title %}{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css" />
</head>
<body>
    <nav>
        <ul>
            {% if user.is_authenticated %}
                <li><a href="#">Groups</a></li>
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'get-started' %}">Get Started</a></li>
            {% endif %}
        </ul>
    </nav>
    <hr>
    
    {% if messages %}
    <div>
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    
    <h1>{% block page_heading %}{% endblock %}</h1> 
    
    {% block content %}
    {% endblock %}
    
</body>
</html>