{% extends 'base.html' %}

{% block page_title %}Contact us{% endblock %}

{% block content %}
    <div class="page-container">
    <section class="about-us-section info-pages-sections">
        <h1>Mt team utility</h1>
        
        <p>Thanks for using My Team Utility!</p> 
        
        <p>If you would like to get intouch you can email us at ...</p> 
        
        <p>myteamemailutility@gmail.com</p>
        
        <p>Good luck in your playing career!</p> 
        
    </section>
{% endblock %}