{% extends 'base.html' %}

{% block page_title %}Contact us{% endblock %}

{% block content %}
    <div class="page-container info-pages-sections">
    <section class="about-us-section">
        <h1>Mt team utility</h1>
        
        <p>Thanks for using My Team Utility!</p> 
        
        <p>If you would like to get in touch you can email us at ...</p> 
        
        <p><strong>myteamemailutility@gmail.com</strong></p>
        
        <p>Good luck in your playing career!</p> 
    </section>
    <section class="image">
        <div class="info-img"></div> 
    </section>
{% endblock %}