{% extends 'base.html' %}

{% block page_title %}Match{% endblock %}

{% block content %}
{% if match_data %}
    <div class="page-container matches-page">
{% else %}
    <div class="page-container matches-page green-bg">
{% endif %}
    <section class="header">
         <h2>Match Details</h2> 
         <a class="group-rtn-btn link-btn click-shrink hover-effect-gold" href="{% url 'group-home' groupid %}">Back</a>
    </section>
    
    <!--If match data is present, it will display here in a summary-->
    
    <section class="match-data">
        {% if match_data %}
            <div class="container overview-container">
                <div class="row">
                    <p>Match ID:<span id="match-id">{{ match_data.pk }}</span></p> 
                    <p>Date:<span>{{ match_data.date_of_match|date:'d-m-Y' }}</span></p> 
                    <p>Time:<span>{{ match_data.time_of_match|time:"H:i" }}</span></p> 
                </div>
                <div class="row">
                {% if 'C' in match_data.match_status %}
                    <p>Status:<span class="cancelled">CANCELLED</span></p>
                {% elif match_data.match_completed %}    
                    <p>Status:<span class="scheduled">COMPLETED</span></p>
                {% else %}
                    <p>Status:<span class="scheduled">ON</span></p>
                {% endif %}
                </div>
                <div class="row">
                    <p>Venue:<span>{{ match_data.venue }}</span></p> 
                </div>
                <div class="row">
                    <p>Notes:<span>{{ match_data.match_notes }}</span></p>
                </div>
                
                <hr> 
                
                {% if match_data.match_completed and my_ratings|length < 1 and match_data.match_status == 'S' and match_data.selected_team != None %}
                    <a class="link-btn rate-performance-link-btn click-shrink hover-effect-red" href="{% url 'rate-performance' matchid %}">Rate Players</a>
                {% elif not match_data.match_completed %}
                    <div class="link-btn edit-match-btn click-shrink hover-effect-yellow">Edit Match</div> 
                {% elif my_ratings|length < 1 %}                
                    <p class="ratings-message">You cannot rate your groups player performances for this match as a team was not saved via the team generation screen.  Please save a team before the match begins!</p> 
                {% endif %}
            </div>
                
            
        {% endif %}
        
        <!--If a match hasnt taken place yet, the user will receive the following options...-->
        
        {% if not match_data.match_completed %}
            {% if match_data %}
                 <form class="start-hidden match-form" method="POST" action="{% url 'add-edit-match' groupid matchid %}">
                     <div class="close-parent-btn">x</div>
            {% else %}
                <form class="match-form" method="POST" action="{% url 'add-edit-match' groupid matchid %}">
            {% endif %}
            
                    <!--If there is no match data the user will see a blank form to create a match-->
            
                    {% csrf_token %}
                    <div class="row form-row alt-grass">
                        <label for="date_of_match">Date: </label>
                        <input required type="date" name="date_of_match" 
                    {% if match.pk != 0 %}
                        value={{ match_data.date_of_match|date:'Y-m-d' }}
                    {% endif %}/>
                    </div>
                    <div class="row form-row">
                        <label for="time_of_match">Time: </label>
                        <input required type="time" name="time_of_match"
                    {% if match.pk != 0 %}
                        value={{ match_data.time_of_match|time:"H:i" }}
                    {% endif %}/>
                    </div>
                    {{ match_form.as_p }}
                    {{ form.non_field_errors }}
                    {% if not match_data %}
                        <div class="row repeat-row">
                            <label for="repeat">Please repeat for:</label>
                            <input type="number" name="repeat" value="1" min="1" max="10" step="1"/><span> weeks</span>
                        </div>     
                    {% endif %}
                    {% if match_data %}
                        <button class="create-edit-match-btn click-shrink hover-effect-gold" type="submit">Update</button>
                    {% else %}
                        <button class="create-edit-match-btn click-shrink hover-effect-gold" type="submit">Create</button>
                    {% endif %}
                </form>
        {% endif %} 
    </section>
    
    <!--A user can send an email to ask other users for their availability here-->
    
    {% if match_data %}
        {% if not match_data.match_completed %}
        <section class="team-generation">
            <button id="email-availability-reminder-btn" class="click-shrink hover-effect-yellow">Email Reminders</button>
            <div class="ani-holder">
                <div class="container bounce-ball">
                        <i class="fas fa-futbol rotate-ball"></i></i>        
                </div>
            </div>
            <a class="click-shrink link-btn team-gen-link-btn hover-effect-yellow" href="{% url 'team-gen-settings' matchid %}">Generate Teams</a> 
        </section>
    {% endif %}
        
    <section class="player-availability">
        
        <div class="header">
            <h3>Player availability</h3>
            
            {% if match_data.match_completed %}
                <p class="ratings-header">Ratings<br>Submitted</p> 
            {% endif %}
        </div>    
        
        <div class="container member-container">
            <div class="row">
                <div class="column">
                    <span class="container">
                        {% if this_user.nickname %}
                            <p class="member-content">{{ this_user.nickname|truncatechars:12 }}</p>
                        {% else %}
                            <p class="member-content">{{ this_user.username|truncatechars:12 }}</p>
                        {% endif %}
                    </span>
                </div>
                <div class="column">
                    <div class="availability-container">
                        
                        <!--Has the group member registered a status for this match?-->
                        {% if my_availability.status == 1 %}
                            <p id="{{ my_availability.pk }}" class="i-have-confirmed">Confirmed</p>
                        {% elif my_availability.status == 0 %}
                            <p id="{{ my_availability.pk }}" class="i-am-unavailable">Unavailable</p>
                        {% else %}
                            <p id="{{ my_availability.pk }}" class="i-am-unconfirmed">Available?</p>                
                        {% endif %}
                    </div>
                </div>
                {% if match_data.match_completed %}
                    <div class="column">
                        <div class="ratings-submitted-container">
                            {% if my_ratings|length > 0 %}
                                <i class="far fa-thumbs-up"></i>
                            {% else %}
                                <i class="far fa-thumbs-down"></i>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        
        <!--Has any user logged their availability yet?  If so....-->
        
        {% if avail_data|lower != "<QuerySet []>"|lower %}
        
            <!--Regardless of availability status, we add every member of the 
            group to the match page...-->
            
            {% for user in match_data.associated_group.users.all %}
                {% if this_user != user %}
                    <div class="container member-container">
                        <div class="row">
                            <div class="column">
                                <span class="container">
                                    {% if user.nickname %}
                                        <p class="member-content">{{ user.nickname|truncatechars:12 }}</p>
                                    {% else %}
                                        <p class="member-content">{{ user.username|truncatechars:12 }}</p>
                                    {% endif %}
                                </span>
                            </div>
                            <div class="column">
                                <div class="availability-container">
                                    
                                    <!--Has the group member registered a status for this match?-->
                                    
                                    {% if user.email|lower in avail_data.all|lower %}
                                    
                                        <!--If so, what status has they registered?-->
                                        
                                        {% for entry in avail_data %}
                                            {% if user|lower == entry.player|lower %}
                                                {% if entry.status == 1 %}
                                                    <i class="fas fa-check-circle"></i>
                                                {% elif entry.status == 0 %}
                                                    <i class="fas fa-times-circle"></i>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        
                                    <!--If not, their status is yet to be confirmed...-->
                                    
                                    {% else %}
                                        <i class="fas fa-question-circle"></i>
                                    {% endif %}
                                </div>
                            </div> 
                            {% if match_data.match_completed %}
                                <div class="column">
                                    <div class="ratings-submitted-container">
                                        {% if user|lower in match_ratings|lower %}
                                            <i class="far fa-thumbs-up"></i>
                                        {% else %}
                                            <i class="far fa-thumbs-down"></i>
                                        {% endif %}
                                    </div> 
                                </div>    
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        <!-- If no user has logged their availability... -->
        
        {% else %}

            <!-- Every member of the group to the match page...-->
            
            {% for user in match_data.associated_group.users.all %}
                {% if this_user != user %}
                    <div class="container member-container">
                        <div class="row">
                            <div class="column">
                                <span class="container">
                                    {% if user.nickname %}
                                        <p class="member-content">{{ user.nickname|truncatechars:12 }}</p>
                                    {% else %}
                                        <p class="member-content">{{ user.username|truncatechars:12 }}</p>
                                    {% endif %}
                                </span>
                            </div>
                            <div class="column">
                                <div class="availability-container">
                                    <i class="fas fa-question-circle"></i>
                                </div>
                            </div>    
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        </section>
    {% endif %}
</div>


{% endblock %}