{% extends 'base.html' %}

{% block page_title %}Match{% endblock %}

{% block content %}
<div class="page-container matches-page">
    <section class="header">
         <h2>The Match</h2> 
    </section>
    
    
    <section class="match-data">
         <form method="POST" action="{% url 'add-edit-match' groupid matchid %}">
            {% csrf_token %}
            <div class="row">
            <label for="date_of_match">Date: </label><input required type="date" name="date_of_match"/>
            </div>
            <div class="row">
            <label for="time_of_match">Time: </label><input required type="time" name="time_of_match"/>
            </div>
            {{ match_form.as_p }}
            {{ form.non_field_errors }}
            <button class="create-edit-match-btn" type="submit">Submit</button>
        </form>
         
         
    </section>
</div>


{% endblock %}