{% extends 'base.html' %}

{% block page_title %}Team generation settings {% endblock %}

{% block content %}

    <section class="team-gen-settings-pg">
        <div class="container member-container">
            <h2>Team Generation</h2> 
            
            <div class="options-header">
                <h3>Options</h3>
                <p>Available</p> 
                <p>Force pick</p> 
            </div>
            
            
            {% for user in group_data.users.all %}
                <form class="row player-data-row">
                    <div class="container player-container">
                        <div class="container user-name-and-stats-container">
                            <input class="member-content username" type="text" name="users-name" value="{{ user.username|truncatechars:7 }}" readonly>
                            
                            {% for rating in rating_data %}
                                {% if rating.player_rated == user.pk %}
                                    <div class="attr-container">
                                        <input name="avg_gk" value="{{ rating.avg_gk }}" readonly>
                                        <input name="avg_out" value="{{ rating.avg_out }}" readonly>
                                        <input class="hidden" name="avg_def" value="{{ rating.avg_def }}" readonly>
                                        <input class="hidden" name="avg_move" value="{{ rating.avg_move }}" readonly>
                                        <input class="hidden" name="avg_pass" value="{{ rating.avg_pass }}" readonly>
                                        <input class="hidden" name="avg_fin" value="{{ rating.avg_fin }}" readonly>
                                    </div> 
                                {% endif %}
                            {% endfor %}
                            
                        </div>    
                    
                        <div class="container position-pref-container">
                            <label for="gk-pref">gk</label>
                            {% if user.gk_pref == 0 %}
                                <input class="cant-play" name="gk-pref" value="{{ user.gk_pref }}" readonly>
                            {% elif user.gk_pref == 1 %}
                                <input class="can-play" name="gk-pref" value="{{ user.gk_pref }}" readonly>
                            {% else %}
                                <input class="pref-play" name="gk-pref" value="{{ user.gk_pref }}" readonly>
                            {% endif %}
                        </div>    
                        
                        <div class="container position-pref-container">
                            <label for="def-pref">df</label>    
                            {% if user.def_pref == 0 %}
                                <input class="cant-play" name="def-pref" value="{{ user.def_pref }}" readonly>
                            {% elif user.def_pref == 1 %}
                                <input class="can-play" name="def-pref" value="{{ user.def_pref }}" readonly>
                            {% else %}
                                <input class="pref-play" name="def-pref" value="{{ user.def_pref }}" readonly>
                            {% endif %}
                        </div>    
                        
                        <div class="container position-pref-container">
                            <label for="mid-pref">mf</label>    
                            {% if user.mid_pref == 0 %}
                                <input class="cant-play" name="mid-pref" value="{{ user.mid_pref }}" readonly>
                            {% elif user.mid_pref == 1 %}
                                <input class="can-play" name="mid-pref" value="{{ user.mid_pref }}" readonly>
                            {% else %}
                                <input class="pref-play" name="mid-pref" value="{{ user.mid_pref }}" readonly>
                            {% endif %}
                        </div>
                        
                        <div class="container position-pref-container">
                            <label for="att-pref">at</label>                        
                            {% if user.att_pref == 0 %}
                                <input class="cant-play" name="att-pref" value="{{ user.att_pref }}" readonly>
                            {% elif user.att_pref == 1 %}
                                <input class="can-play" name="att-pref" value="{{ user.att_pref }}" readonly>
                            {% else %}
                                <input class="pref-play" name="att-pref" value="{{ user.att_pref }}" readonly>
                            {% endif %}
                        </div>    
                    </div>
                    
                    {% if user.email|lower in avail_data.all|lower %}
                    
                        {% for data in avail_data %}
                            {% if data.player|lower == user.email|lower %}
                                {% if data.status == 1 %}
                                    <div class="container avail-container">
                                        <input class="confirmed hidden" type="text" name="available" value="Yes" readonly><i class="fas fa-check-circle"></i>
                                    </div>
                                {% elif data.status == 0 %}
                                    <div class="container avail-container">
                                        <input class="unavailable hidden" type="text" name="available" value="No" readonly><i class="fas fa-times-circle"></i>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <div class="container avail-container">
                            <input class="unconfirmed hidden" type="text" name="available" value="TBC" readonly><i class="fas fa-question-circle"></i>
                        </div>
                    {% endif %}
                    
                    <div class="gen-options-box">
                        <label class="switch">
                            <input type="checkbox" name="force-pick" value="true">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    
                </form> 
                <hr> 
            {% endfor %}
        </div>
        <button id="pick-teams-btn">Pick Teams</button> 
    </section>

{% endblock %}